extends layout

block content
  div(class="jumbotron")
    h1(class="display-4")= title
    p(class="lead") Welcome to the demo-zero.
  #msg
  div(class="row mt-3")
    div(class="col-sm-6")
      div(class="card")
        h5(class="card-header") Login
        div(class="card-body")
          p(class="card-text") Standard OAuth/OIDC flow
          form(name="login" method="post" action="login")
            input(type="submit" value="Login" class="btn btn-primary" )
  div(class="row mt-3")
    div(class="col-sm-12")
      div(class="card")
        h5(class="card-header") Runtime Configuration
        div(class="card-body")
          form(name="configuration" method="post" action="saveconfiguration")
            div(class="form-group")
              label
                input(type="checkbox" name="par_enabled" id="par_enabled" checked=(par_enabled))
                = " Use Pushed Authorization Requests (PAR)"
            div(class="form-group")
              label
                input(type="checkbox" name="jar_enabled" id="jar_enabled" checked=(jar_enabled))
                = " Use JWT-Secured Authorization Request (JAR)"
            div(class="form-group")
              <label for="app_client_authentication_method">Client Authentication</label>
              select(id="app_client_authentication_method" name="app_client_authentication_method" class="form-control")
                each clientAuthenticationMethod in clientAuthenticationMethods
                  if (selectedClientAuthenticationMethod === clientAuthenticationMethod)
                    option(value=clientAuthenticationMethod selected) #{clientAuthenticationMethod}
                  else
                    option(value=clientAuthenticationMethod ) #{clientAuthenticationMethod}
            div(class="form-group")
              <label for="audience">Audience</label>
              select(id="audience" name="audience" class="form-control")
                option
                each audience in audienceList
                  if (selectedAudience === audience)
                    option(value=audience selected) #{audience}
                  else
                    option(value=audience ) #{audience}
            div(class="form-group")
              <label for="scope">Scope</label>
              input(id="scope" name="scope" value="#{scope}" class="form-control" size="20")
            div(class="form-group")
              <label for="response_type">Response type</label>
              select(id="response_type" name="response_type" class="form-control")
                each responseType in responseTypeList 
                  if (selectedResponseType === responseType)
                    option(value=responseType selected) #{responseType}
                  else
                    option(value=responseType) #{responseType}
            div(class="form-group")
              <label for="response_mode">Response Mode</label>
              select(id="response_mode" name="response_mode" class="form-control")
                each responseMode in responseModeList 
                  if (selectedResponseMode === responseMode)
                    option(value=responseMode selected) #{responseMode}
                  else
                    option(value=responseMode) #{responseMode}
            div(class="form-group")
              label
                input(type="checkbox" name="owp" id="owp" checked=(owp))
                = " Use owp=true"
            div(class="form-group")
              label
                input(type="checkbox" name="pkce" id="pkce" checked=(pkce))
                = " Use Proof Key for Code Exchange (PKCE)"
            div(class="form-group")
              <label for="pkce_code_challenge_method">PKCE Code Challenge Method</label>
              select(id="pkce_code_challenge_method" name="pkce_code_challenge_method" class="form-control")
                each pkceCodeChallengeMethod in pkceCodeChallengeMethodList 
                  if (selectedPkceCodeChallengeMethod === pkceCodeChallengeMethod)
                    option(value=pkceCodeChallengeMethod selected) #{pkceCodeChallengeMethod}
                  else
                    option(value=pkceCodeChallengeMethod) #{pkceCodeChallengeMethod}
            div(class="form-group")
              label(for="redirect_uri") Redirect URI
              input(type="text", name="redirect_uri", value=(redirectURI)  class="form-control")
            div(class="form-group")
              label(for="acr_values") acr_values
              input(type="text", name="acr_values", value=(acrValues)  class="form-control")
            div(class="form-group")
              label
                input(type="checkbox", name="send_authorization_details", checked=(sendAuthorizationDetails))
                = " Send authorization_details"
              textarea(id="authorization_details" name="authorization_details" class="form-control" placeholder='#{authorizationDetails}') #{authorizationDetails}

            input(type="submit" value="Save Configuration" class="btn btn-primary")
            small(id="configurationHelp" class="form-text text-muted") Future calls to /authorize or /oauth/par will use these values. They will be reset when the app restarts.

    div(class="col-sm-6") &nbsp;
